<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>GEL Pedigree viewer</title>
    
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="imagetoolbar" content="no">
    <link rel="canonical" href="bin/P0001083">
    <meta name="document" content="data.P0001083">
    <meta name="wiki" content="xwiki">
    <meta name="space" content="data">
    <meta name="page" content="P0001083">
    <meta name="version" content="1.3">
    <meta name="restURL" content="wikis/xwiki/spaces/data/pages/P0001083">
    <meta name="form_token" content="wwD9MXlaxCgPfFnxu3vQHQ">
    <meta name="gwt:property" content="locale=en">
    <meta name="revisit-after" content="7 days">
    <meta name="description" content="Pedigree editor">
    <meta name="keywords" content="wiki">
    <meta name="distribution" content="GLOBAL">
    <meta name="rating" content="General">
    <meta name="author" content="Unknown User">
    <meta http-equiv="reply-to" content="">
    <meta name="language" content="en">

    <link href="css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/print.css" rel="stylesheet" type="text/css" media="print">

    <link rel="stylesheet" type="text/css" href="css/xwiki-min.css">
    <link rel="stylesheet" type="text/css" href="css/searchSuggest.css">
    <link rel="stylesheet" type="text/css" href="css/livevalidation.css">
    <link rel="stylesheet" type="text/css" href="css/fullScreen.css">
    <link rel="stylesheet" type="text/css" href="css/editor.css">
    <link rel="stylesheet" type="text/css" href="css/actionButtons.css">
    <link rel="stylesheet" type="text/css" href="css/Skin.css">
    <link rel="stylesheet" type="text/css" href="css/PlaygroundStyle.css">
    <link rel="stylesheet" type="text/css" href="css/CommentsFix.css">
    <link rel="stylesheet" type="text/css" href="css/Blue.css">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/Widgets.css">
    <link rel="stylesheet" type="text/css" href="css/PhenoTipsGroupSheet.css">
    <link rel="stylesheet" type="text/css" href="css/ContentTopMenu.css">
    <link rel="stylesheet" type="text/css" href="css/PushPatient.css">
    <link rel="stylesheet" type="text/css" href="css/DateTimePicker.css">

    <script type="text/javascript" src="javaScript/require.js"></script>
    <script type="text/javascript" src="javaScript/prototype.js"></script>
    <script type="text/javascript" src="javaScript/effects.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/xwiki-min.js"></script>
    <script type="text/javascript" src="javaScript/searchSuggest.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/lock.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/livevalidation_prototype.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/fullScreen.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/slider.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/dragdrop.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/raphael.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/helpers.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/queues.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/xcoordclass.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/ordering.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/baseGraph.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/import.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/export.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/edgeOptimization.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/positionedGraph.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/dynamicGraph.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/Blob.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/FileSaver.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/nodeMenu.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/nodetypeSelectionBubble.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/ageCalc.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/graphicHelpers.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/legend.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/disorderLegend.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/hpoLegend.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/geneLegend.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/saveLoadIndicator.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/templateSelector.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/okCancelDialogue.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/importSelector.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/exportSelector.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/abstractHoverbox.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/readonlyHoverbox.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/partnershipHoverbox.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/personHoverbox.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/abstractNode.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/abstractNodeVisuals.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/abstractPerson.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/abstractPersonVisuals.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/partnership.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/partnershipVisuals.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/person.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/personVisuals.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/personGroup.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/personGroupVisuals.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/personGroupHoverbox.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/lineSet.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/workspace.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/disorder.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/hpoTerm.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/versionUpdater.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/saveLoadEngine.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/controller.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/view.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/undoRedo.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/pedigree.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/actionButtons.js" defer="defer"></script>

    <script type="text/javascript" src="javaScript/Widgets.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/ContentTopMenu.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/PushPatient.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/DateTimePicker.js" defer="defer"></script>

    <script type="text/javascript" src="javaScript/compatibility.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/markerScript.js" defer="defer"></script>
    <script type="text/javascript" src="javaScript/gelSpecialParser.js"></script>


</head>
<body id="body" class="wiki-xwiki space-data editbody hidelefthideright">
</body>
</html>
<script>
       // <![CDATA[
        define('jQueryNoConflict', ['jquery'], function ($) {
            $.noConflict();
            return $;
        });

        XWiki.webapppath = "";
        XWiki.docisnew = false;
        XWiki.docsyntax = "xwiki/2.1";
        XWiki.docvariant = "";
        XWiki.blacklistedSpaces = ["Import", "Panels", "Scheduler", "Stats", "XAppClasses", "XAppSheets", "XAppTemplates", "XWiki", "WatchCode", "WatchSheets", "XApp", "WatchAdmin", "Watch", "ColorThemes", "AnnotationCode"];
        XWiki.hasEdit = true;
        XWiki.hasProgramming = false;
        XWiki.hasBackupPackImportRights = false;
        XWiki.hasRenderer = true;
        XWiki.family = gelParser.obtainPanogramReadablePedigreeFromURL();
        alert("This is a view only version, changes will not be saved");

    // ]]>
    
</script>


